.page-container {
  background: #fff;
  padding:20px;
  font-size: 18px;
  background: #fff;
}
.list_title{
  display: inline-block;
  margin-right: 20px;
}



.tr{
  text-align: right;
}
.view_pic_container{
  
}