.layui-input-block {
  position: relative;
  margin-left: 0;
  min-height: 30px !important;
}
.layui-input-block .input_unit {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  color: #999;
}
.delete_btn,
.delete_route_btn {
  color: #FF5722;
  font-size: 13px;
  cursor: pointer;
}
