.page_content {
  padding: 20px;
}
.page_block {
  margin-bottom: 20px;
  background-color: #fff;
}
.pointer {
  cursor: pointer;
}
.page_title {
  border-bottom: 1px solid;
}
.text_left {
  text-align: left !important;
}
.text_center {
  text-align: center !important;
}
.form_label {
  overflow-y: visible;
  white-space: nowrap;
  width: 100px;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.form_item_container {
  padding-left: 30px;
}
.form_item_container .layui-input-inline {
  width: 100%;
}
.form_item_container .form_item_inner .add_fee {
  margin-left: 20px;
}
.fee_container {
  padding: 10px;
  overflow: hidden;
}
.fee_container .fee_list {
  overflow: hidden;
  padding-bottom: 10px;
}
.fee_container .fee_list .fee_list_item {
  margin-bottom: 5px;
}
.fee_container .fee_list .fee_list_item .layui-form-checkbox span {
  display: inline-block;
}
.fee_container .fee_footer {
  padding-top: 10px;
  border-top: 1px solid #EFEEF0;
}
.select_driver_btn {
  display: inline-block;
}
#driver_name_select {
  position: relative;
}
#driver_name_select .match_driver_list {
  position: absolute;
  width: 100%;
  top: 30px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  z-index: 99;
}
#driver_name_select .match_driver_list .driver_item {
  position: relative;
  height: 28px;
  line-height: 28px;
  cursor: pointer;
}
#driver_name_select .match_driver_list .driver_item:hover {
  background-color: #eee;
}
#driver_name_select .match_driver_list .driver_item .driver_name {
  position: absolute;
  left: 10px;
}
.btn_container {
  margin-bottom: 20px;
}
.no_border {
  border: none !important;
  color: #3490E9 !important;
}
.blue {
  color: #3490E9;
}
