.upload_start_row {
  margin-top: 20px;
  text-align: center;
}
.upload_start_row .upload_start_holder {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 120px;
  height: 70px;
  border: 1px dotted #ccc;
  color: #ccc;
  text-align: center;
  line-height: 80px;
}
.upload_start_row .upload_start_holder .pre_img {
  position: absolute;
  max-height: 70px;
  top: 0;
  left: 0;
  z-index: 1;
}
.pic_view_image {
  width: 150px;
  margin-right: 10px;
}
.upload_pic_title {
  padding: 10px 0;
}
.table_a {
  cursor: pointer;
  color: #3490E9;
}
.hide {
  display: none;
}
.blue {
  color: #3490E9;
}
.pointer {
  cursor: pointer;
}
