.layui-table-cell {
  // height:auto;
  // overflow:visible;
  // text-overflow:inherit;
  // white-space:normal;
}
.upload_start_row{
  margin-top: 20px;
  text-align: center;
  .upload_get_pre{
    position: relative;
    width: 140px;
    height: 100px;
    border: 1px dotted #ccc;
    line-height: 70px;
    text-align: center;
    overflow: hidden;
    &::after{
      position: absolute;
      display: block;
      right: -35px;
      top: 5px;
      width: 100px;
      text-align: center;
      content: "示例";
      transform: rotate(45deg);
      line-height: normal;
      background-color: rgba(244, 164, 96, 0.5);
      border-bottom: 1px sandybrown solid;
    }
    img{
      max-height: 100%;
      max-width: 100%;
    }
  }
  .upload_start_holder{
    overflow: visible;
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 140px;
    height: 100px;
    border: 1px dotted #ccc;
    color: #ccc;
    text-align: center;
    line-height: 80px;
    .pic_del_btn{
      position: absolute;
      z-index: -1;
    }
    &.pre{
      .pic_del_btn{
        position: absolute;
        top: -5px;
        right: -5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        line-height: 10px;
        text-align: center;
        border: 1px solid red;
        color: red;
        z-index: 999;
      }
    }
    .pre_img{
      position: absolute;
      max-height: 70px;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
}
.pic_view_image{
  width: 150px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.upload_pic_title{
  padding: 10px 0;
}
.table_a{
  cursor: pointer;
  color: #3490E9;
}
.hide{
  display: none;
}
.red{
  color: red;
}
.blue{
  color: #3490E9;
}
.pointer{
  cursor: pointer;
}
.layui-layer-content{
  .layui-table{
    margin-top: 0 !important;
  }
}
.upload_start_holder{
  .pre_image_holder_inner{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #fff;
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
}
.opeartion_icon{
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 45px;
}