html,
.map-warp,
body {
  height: 100%;
}
#map {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0px;
}
.control {
  position: absolute;
  bottom: 40px;
  left: 20px;
  z-index: 10;
}
.legend {
  position: absolute;
  top: 10px;
  right: 60px;
  z-index: 10;
  font-size: 14px;
  font-weight: bold;
}
.legend .legend-item {
  position: relative;
  float: left;
  padding-right: 70px;
}
.legend .legend-item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 5px;
}
.legend .legend-item1 {
  color: rgba(17, 141, 255, 0.8);
}
.legend .legend-item2 {
  color: rgba(105, 170, 0, 0.8);
}
.legend .legend-item1::after {
  background-color: #118dff;
}
.legend .legend-item2::after {
  background-color: #69aa00;
}
