.page_content {
  padding: 20px;
}
.page_block{
  margin-bottom: 20px;
  background-color: #fff;
}
.pointer{
  cursor: pointer;
}
.page_title{
  border-bottom: 1px solid;
}
.text_left{
  text-align: left !important;
}
.text_center{
  text-align: center !important;
}
.form_label{
  overflow-y: visible;
  white-space: nowrap;
  width: 100px;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.form_item_container{
  padding-left: 30px;
  .layui-input-inline{
    width: 100%;
  }
  .form_item_inner{
    // overflow: hidden;
    .add_fee{
      margin-left: 20px;
    }
  }
}
// 增加费用项的弹窗
.fee_container{
  padding: 10px;
  overflow: hidden;
  .fee_list{
    overflow: hidden;
    padding-bottom: 10px;
    .fee_list_item{
      margin-bottom: 5px;
      .layui-form-checkbox span{
        padding: 0;
        display: inline-block;
        max-width: 120px;
      }
      .edit_icon{
        cursor: pointer;
      }
    }
  }
  .fee_footer{
    padding-top: 10px;
    border-top: 1px solid #EFEEF0;
  }
}
#form_fee_list{
  .layui-form-select .layui-input{
    padding-right: 20px !important;
  }
}
#fee_list_container{
  .layui-form-select{
    min-width: 95px !important;
  }
}
.select_driver_btn{
  display: inline-block;
}
//司机推荐
#driver_name_select{
  position: relative;
  .match_driver_list{
    position: absolute;
    width: 100%;
    top: 30px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    z-index: 99;
    .driver_item{
      position: relative;
      height: 28px;
      line-height: 28px;
      cursor: pointer;
      &:hover{
        background-color: #eee;
      }
      .driver_name{
        position: absolute;
        left: 10px;
      }
    }
  }
}

.btn_container{
  margin-bottom: 20px;
}
.no_border{
  border: none !important;
  color: #3490E9 !important;
}
.blue{
  color: #3490E9;
}
.select-map-dialog{
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
  #select-map{
    width: 100%;
    height: 370px;
  }
  .select-location{
    width: 500px;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -250px;
    font-size: 0;
    z-index: 9999;
    .label{
      font-size: 12px;
    }
    .location-name{
      display: inline-block;
      width: 400px;
      height: 28px;
      line-height: 28px;
      border: 1px solid rgba(170, 170, 170, 1);
      border-right: 0;
      font-size: 12px;
      text-align: left;
      padding-left: 10px;
      color: #333;
      background: #fff;
    }
    .select-btn{
      position: relative;
      top: -4px;
    }
    
  }
}
.hiddenMap{
  width: 1px;
  height: 1px;
  opacity: 0;
}
.address-map{
  position: relative;
}
.addressList{
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  border: 1px solid #666;
  background: #fff;
  z-index: 100;
  .item{
    padding: 10px 10px;
    border-bottom: 1px dashed #666;
    color: #666;
    &:hover{
      background: #abcdef;
    }
    &:last-child{
      border: none;
    }
  }
  .empty{
    text-align: center;
    padding: 30px 0;
    color: #333;
  }
}
.tempLicenseBackImage{
  border: 1px dashed #ccc;
  text-align: center;
  height: 40px;
}