.layui-input {
  display: inline !important;
  width: auto !important;
}
.layui-input {
  overflow: visible;
  white-space: pre-line !important;
  border: none !important;
  color: #3490E9 !important;
  white-space: pre-line !important;
}
.textarea_span {
  position: relative;
  top: -20px;
}
