.layui-input {
  display: inline !important;
  width: auto !important;
}
.layui-input {
  overflow-y: visible;
  border: none !important;
  color: #3490E9 !important;
  white-space: pre-line !important;
}
.textarea_span {
  top: -20px;
}
.car_image {
  max-width: 400px;
}
.red {
  color: red;
}
