.dot-add .layui-upload-drag-title {
  width: 180px;
  text-align: center;
  margin: auto;
  position: relative;
}
.dot-add .layui-upload-drag {
  margin: auto;
  width: 180px;
  height: 130px;
  padding: 0;
  position: relative;
}
.dot-add .layui-upload-drag p {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  text-align: center;
}
.dot-add .layui-text-align {
  text-align: center;
}
.dot-add .sample-graph {
  color: #3490e9;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 10px;
  position: absolute;
  right: 0px;
}
.dot-add .wishJourney-btn-add {
  color: #3490e9;
  margin-left: 20px;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  /*早期浏览器*/
  user-select: none;
  cursor: pointer;
}
.dot-add .check-line {
  color: #3490e9;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  /*早期浏览器*/
  user-select: none;
  cursor: pointer;
  text-decoration: underline;
}
.dot-add .tips {
  font-family: "微软雅黑", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f59a23;
}
.dot-add .layui-form-item {
  position: relative;
  margin-bottom: 0px;
}
.dot-add .info_row .layui-form-item {
  margin-bottom: 0px;
}
.dot-add .layui-input-block {
  position: relative;
  top: 10px;
  overflow-wrap: break-word;
  white-space: pre-line;
  /*margin-left: 0px;*/
  line-height: normal;
}
.upload-bg {
  width: 180px;
  height: 130px;
  display: block;
  background: url("../../images/upload-bg.svg") no-repeat center;
}
.x-city {
  float: left;
}
.dot-add .remove-btn {
  color: #ee5b22;
  text-decoration: underline;
  margin-left: 20px;
  line-height: 32px;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  /*早期浏览器*/
  user-select: none;
  cursor: pointer;
}
.dot-add .no-data {
  color: #aaaaaa;
}
.dot-add .name-color {
  color: #3490e9;
}
.dot-add .layui-form-label {
  width: 110px;
  height: 40px;
}
.dot-add .check {
  position: absolute;
  top: 60px;
  width: 100%;
}
.dot-add .layui-card-header {
  font-weight: bold;
}
.red {
  color: red;
}
.hide {
  display: none !important;
}
.check .layui-input-block {
  position: absolute;
  top: 12px;
  left: 30px;
  line-height: 15px;
  max-width: 200px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
#fee_container .layui-form-item {
  margin-bottom: 0px;
}
.check_span {
  display: inline-block;
  margin-top: 5px;
}
.form_span {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 110px;
  text-align: right;
}
.form_span + span {
  display: inline-block;
  margin-left: 120px;
}
.blue {
  color: #3490e9;
}
.pic_item {
  margin-right: 20px;
  float: left;
}
.upload_img {
  width: 120px;
  height: 90px;
  border: 1px solid #999999;
  line-height: 90px;
  text-align: center;
  font-size: 0;
}
.upload_img img {
  max-width: 100%;
  max-height: 100%;
}
.upload_pic_item {
  margin-bottom: 20px;
}
.boxZoomImg {
  cursor: pointer;
}
.images_container {
  overflow: hidden;
  margin-left: 110px;
  padding-right: 110px;
}
