.blue {
  color: #3490E9;
}
.pointer {
  cursor: pointer;
}
.layui-table-tool-temp{
  padding-right: 0;
}
.layui-btn-container{
  text-align: right;
}
.opeartion_icon{
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 45px;
}